---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import BlogPostCard from '../components/BlogPostCard';
import HomePageClickCounter from '../components/HomePageClickCounter.jsx';

const pageTitle = "Home | Iftekhar's Portfolio";

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);
---
<BaseLayout title={pageTitle}>
	<section class="relative container mx-auto px-4 py-16 bg-cover bg-center" style="background-image: url('/background-image.jpg');">
		<div class="absolute inset-0 bg-black opacity-50"></div>
		<div class="relative z-10 text-center">
			<h1 class="text-5xl font-bold mb-6 text-white">Welcome to My Portfolio!</h1>
			<p class="text-xl mb-8 text-gray-200">Discover my projects, skills, and experience.</p>
			<p class="text-lg mb-12 text-gray-300">Explore to learn more about my work and achievements.</p>
		</div>

		<div class="my-8">
			<h2 class="text-3xl font-semibold mb-4">Interactive Demo</h2>
			<HomePageClickCounter client:load />
		</div>

		<h2 class="text-3xl font-semibold mb-6">Recent Blog Posts</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			{posts.map((post) => (
				<BlogPostCard post={post} client:load />
			))}
		</div>
	</section>
</BaseLayout>
